#inputEmail {
  border-radius: 15px;
  height: 35px;
  width: 230px;
}

.btn-primary {
  background-color: rgb(111, 59, 155);
  border-radius: 15px;
  border-color: rgb(68, 17, 113);
  width: 100px;
  height: 35px;
  font-family: "Saira", sans-serif;
}
.gmail {
  position: relative;
  top: 40px;
  left: 0px;
}

.container {
  padding: 0%;
  margin-right: 0%;
}
.withyou {
  position: relative;
  left: 50px;
  top: 10px;
}
.imm2021 {
  position: relative;
  top: 60px;
}

html {
  background: rgb(0, 0, 0);
}

body {
  font-family: "Lato", sans-serif;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 125px;
  background-color: black;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo-size {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 25px;
  line-height: -0.5px;
  font-family: "Saira", sans-serif;
}

p {
  font-size: 20px;
  line-height: -0.5px;
}

a {
  text-decoration: none;
  color: white;
}


@media (min-width: 400px) {


  #inputEmail {
    border-radius: 15px;
    height: 35px;
    width: 230px;
  }

  .btn-primary {
    background-color: rgb(111, 59, 155);
    border-radius: 15px;
    border-color: rgb(68, 17, 113);
    width: 100px;
    height: 35px;
    font-family: "Saira", sans-serif;
  }

  .gmail {
    position: relative;
    top: 40px;
    left: -50px;
  }
  .container {
    padding: 0%;
    margin-right: 0%;
  }
  .withyou {
    position: relative;
    left: 50px;
    top: 10px;
  }
  .imm2021 {
    position: relative;
    top: 60px;
  }

  body {
    font-family: "Lato", sans-serif;
    margin-left: 7px;
    margin-bottom: 125px;
    background-color: black;
  }

  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-size {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 25px;
    line-height: -0.5px;
    font-family: "Saira", sans-serif;
  }

  p {
    font-size: 20px;
    line-height: -0.5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 600px) {
  #inputEmail {
    border-radius: 15px;
    height: 35px;
    width: 230px;
  }

  .btn-primary {
    background-color: rgb(111, 59, 155);
    border-radius: 15px;
    border-color: rgb(68, 17, 113);
    width: 100px;
    height: 35px;
    font-family: "Saira", sans-serif;
  }
  .gmail {
    position: relative;
    top: 40px;
    left: -110px;
  }

  .withyou {
    position: relative;
    left: 50px;
    top: 0px;
  }
  .imm2021 {
    position: relative;
    top: 60px;
  }

  body {
    font-family: "Lato", sans-serif;

    margin-left: 7px;
    margin-bottom: 125px;
    background-color: black;
  }

  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-size {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 25px;
    line-height: -0.5px;
    font-family: "Saira", sans-serif;
  }

  p {
    font-size: 20px;
    line-height: -0.5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 960px) {
  .btn-primary {
    background-color: rgb(111, 59, 155);
    border-radius: 15px;
    border-color: rgb(68, 17, 113);
    width: 100px;
    height: 35px;
    font-family: "Saira", sans-serif;
  }

  .gmail {
    position: relative;
    top: 40px;
    left: 0px;
  }

  .withyou {
    position: relative;
    left: 50px;
    top: 120px;
  }
  .imm2021 {
    position: relative;
    top: 60px;
  }

  body {
    font-family: "Lato", sans-serif;
    margin-left: 7px;
    margin-bottom: 125px;
    background-color: black;
  }

  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo-size {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 25px;
    line-height: -2.5px;
    font-family: "Saira", sans-serif;
  }

  p {
    font-size: 20px;
    line-height: -0.5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .container2 {
    position: relative;
    left: 140px;
  }
}
