*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
  background-color: black;
  z-index: 1;
}
.test {
  border: 1px solid red;
}
h1 {
  font-family: 'Saira', sans-serif;
  font-weight: 500;
  font-size: 7.5rem;
  line-height: 8rem;
}
h2 {
  font-family: 'Saira', sans-serif;
  font-weight: 500;
  font-size: 6rem;
  line-height: 6.1rem;
}
h3 {
  font-family: 'Saira', sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2.5rem;
}
h4 {
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-size: 2.1rem;
  line-height: 2.4rem;
}
h6 {
  font-family: 'Saira', sans-serif;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 3.4rem;
}
.footerh4--size {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: rgb(189, 189, 189);
}
a:hover {
  color: #f2a89a;
}
a:active {
  color: #f2a89a;
}

/* ------- home page ------- */

.txt--color {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(246, 171, 152, 1),
    rgba(139, 92, 192, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toggler--size {
  font-size: 1.8rem;
}
.bodybox--zindex {
  position: relative;
  width: 90%;
  height: 100%;
  z-index: 1;
}
.mainbox--size {
  position: relative;
  width: 80%;
  height: auto;
}
.header--padding {
  padding: 25px;
}
.svg--width {
  max-width: 351px;
}
.footerbox--position {
  position: relative;
  width: 80%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 10px;
}
.btn--setting {
  background-color: rgb(111, 59, 155);
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  width: 150px;
  height: 46px;
}
.imm2021--size {
  padding-left: 1%;
  width: 170px;
}
.footer--width {
  position: relative;
  width: 90%;
  height: auto;
}
.footerFlexBox--setting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footerContent--position {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.footerImm--position {
  position: relative;
  width: 46 px;
  height: 218 px;
  margin: 4px 10px 0px 5px;
}
.rightWords--position {
  flex-basis: 120px;
  flex-grow: 3;
  width: auto;
  height: 218 px;
}
.social--position {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.socialIcon--position {
  flex-basis: 40px;
  margin: 5px;
  padding-right: 20px;
}
.content--align {
  text-align: right;
}
.content--height {
  height: 218px;
  padding-top: 50px;
}
.arrowUp {
  display: inline-block;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  border-top: 10px solid white;
  border-right: 10px solid white;
  transform: rotate(-45deg);
  vertical-align: text-bottom;
}
.goBack--position {
  display: inline-block;
}
.copyright--size {
  font-size: 1.3rem;
  line-height: 42px;
}
@media screen and (max-width: 1200px) {
  .mainbox--size {
    position: relative;
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .bodybox--zindex {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 7.2rem;
    line-height: 7.7rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  h3 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  h5 {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  .mainbox--size {
    position: relative;
    width: 100%;
    height: auto;
  }
  .header--padding {
    padding: 25px 10px;
  }
  .svg--width {
    max-width: 310px;
  }
  .imm2021--size {
    width: 170px;
  }
  .footer--width {
    width: 95%;
  }
  .footerImm--position {
    width: 43 px;
    margin: 4px 5px 0px 5px;
  }
  .embedImm {
    width: 43px;
  }
  .rightWords--position {
    height: 190 px;
  }
  .svgSpace--width {
    width: 210px;
    height: auto;
  }
  .footerh4--size {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .footerh6--size {
    font-size: 3.6rem;
    line-height: 3.2rem;
  }
  .footerFlexBox--setting {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footerRightBox {
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .content--align {
    text-align: left;
  }
  .content--height {
    height: 80px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 660px) {
  h1 {
    font-size: 7.1rem;
    line-height: 7.5rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  h2 {
    font-size: 5rem;
    line-height: 5.1rem;
  }
  h3 {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  h5 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  .header--padding {
    padding: 20px 8px;
  }
  .svg--width {
    max-width: 275px;
  }
  .imm2021--size {
    width: 160px;
  }
  .footer--width {
    width: 100%;
  }
  .footerImm--position {
    width: 40 px;
    margin: 4px 5px 0px 4px;
  }
  .embedImm {
    width: 40px;
  }
  .rightWords--position {
    height: 150 px;
  }
  .svgSpace--width {
    width: 200px;
    height: auto;
  }
  .footerh4--size {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .footerh6--size {
    font-size: 3.4rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 557px) {
  h2 {
    font-size: 4rem;
    line-height: 4.1rem;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  h5 {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
  .header--padding {
    padding: 20px 5px;
  }
  .svg--width {
    max-width: 255px;
  }
  .imm2021--size {
    width: 150px;
  }
  .rightWords--position {
    height: 124 px;
  }
  .svgSpace--width {
    width: 190px;
    height: auto;
  }
  .footerh4--size {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .footerh6--size {
    font-size: 3.2rem;
    line-height: 3rem;
  }
  .arrowUp {
    width: 24px;
    height: 24px;
    border-top: 8px solid white;
    border-right: 8px solid white;
  }
}
@media screen and (max-width: 467px) {
  h1 {
    font-size: 6.8rem;
    line-height: 7.3rem;
  }
  p {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  h2 {
    font-size: 3.2rem;
    line-height: 3.3rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  h5 {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .header--padding {
    padding: 20px 0px;
  }
  .svg--width {
    max-width: 220px;
  }
  .imm2021--size {
    width: 140px;
  }
  .footerImm--position {
    width: 37 px;
    margin: 2px 4px 0px 4px;
  }
  .embedImm {
    width: 37px;
  }
  .rightWords--position {
    height: 105 px;
  }
  .svgSpace--width {
    width: 180px;
    height: auto;
  }
  .footerh4--size {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .footerh6--size {
    font-size: 3rem;
    line-height: 2.8rem;
  }
  .arrowUp {
    width: 20px;
    height: 20px;
    border-top: 6px solid white;
    border-right: 6px solid white;
  }
  .goBack--position {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .copyright--size {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}